body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

li {
	list-style: none;
}

li:nth-child(even) {
	background: #f5f5f5;
}

li:nth-child(odd) {
	background: #d0e3ff;
}

.relic-list-item {	
	padding: 8px;
}

.relic-list {
	max-width: 800px;
}